body {
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 30px;
    text-align: center;
}

/*-------------------- Typografi ------------------*/

h1 {}

/*------------ Default section settings -----------*/

#tema_01 {
    margin: 0 auto;
    height: 40vw;
    width: 80vw;
    box-shadow: 0 4px 25px grey;
    margin-top: 2vw;
    padding-top: 2vw;
}

#tema_02 {
    margin: 0 auto;
    height: 40vw;
    width: 80vw;
    box-shadow: 0 4px 25px grey;
    margin-top: 2vw;
    padding-top: 2vw;
}

#tema_03 {
    margin: 0 auto;
    height: 40vw;
    width: 80vw;
    box-shadow: 0 4px 25px grey;
    margin-top: 2vw;
    padding-top: 2vw;
}

#tema_04 {
    margin: 0 auto;
    height: 40vw;
    width: 80vw;
    box-shadow: 0 4px 25px grey;
    margin-top: 2vw;
    padding-top: 2vw;
}

/*---------------- forside ------------------------*/

#welcomePage {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 2vw 20px 2vw;
    align-items: center;
    border-bottom: 3px solid black;
}

.textbox {
    flex-grow: 1;
    flex-basis: 100px;
    text-align: center;
}

.selfportrait img {
    width: 100%;
    min-width: 250px;
}

.selfportrait {
    flex-grow: 1;
    flex-basis: 100px;
}


/*---------------- Top Navigation -----------------*/

#topNav {
    display: flex;
    text-align: center;
    height: 35px;
    box-shadow: 0 4px 25px grey;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding: 2px 8px
}

.nav img {
    width: 25px;
    padding-top: 4px;
}

/*------------- Navigation Wheel ----------------*/

.navWheel {
    margin: 0 auto;
    width: 50vw;
    margin-top: 5vw;

}

.temaContainer {
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotate(45deg);

}

.tema a {
    width: 100%;
    height: 100%;
    display: block;
}

.tema {
    width: 50%;
}

.tema_01 {
    flex-grow: 1;
    background-color: red;
    border-radius: 100% 0% 0% 0%;
}

.tema_02 {
    flex-grow: 1;
    background-color: blue;
    border-radius: 0% 100% 0% 0%;
    background-image: url(images/Artboard%201.png);
    background-size: cover;
}

.tema_03 {
    flex-grow: 1;
    background-color: green;
    border-radius: 0% 0% 0% 100%;
}

.tema_04 {
    flex-grow: 1;
    background-color: yellow;
    border-radius: 0% 0% 100% 0%;
}

/*---------------- projects -----------------*/

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

.project {
    margin: 5px;
    flex-grow: 1;
    background-color: red;
    flex-basis: 200px;
}

.image {
    width: 100%;
}

.linkTarget {
    width: 100%;
    height: 100%;
}

/*---------------- Animation ---------------*/

.spinNavWheel {
    animation-name: spinNavWheel_kf;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes spinNavWheel_kf {
    0% {
        transform-origin:
    }

    100% {
        background-position: -300% -600%;
    }
}

/*--------------- Media Q ----------------*/

@media screen and (max-width:375px) {
    .navWheel {
        margin-top: 70vw;
    }
    #welcomePage {
        margin-top: 25vw;
    }
}

@media screen and (min-width: 1100px) {
    .temaContainer {
        width: 549.5px;
        height: 549.5px;
    }
    .navWheel {
        width: 549.5px;
    }
}

@media screen and (min-width: 950px) {
    #tema_01 {
        width: 690.91px;
        height: 345.45px;
        padding-top: 17.28px;
    }
    #tema_02 {
        width: 690.91px;
        height: 345.45px;
        padding-top: 17.28px;
    }
    #tema_03 {
        width: 690.91px;
        height: 345.45px;
        padding-top: 17.28px;
    }
    #tema_04 {
        width: 690.91px;
        height: 345.45px;
        padding-top: 17.28px;
    }

    #projects {
        width: 656.36px;
        height: 328.18px;
    }
}

.hide {
    display: none;
}
