body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/*-------------------- Typografi ------------------*/

h1 {
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

/*------------ Default section settings -----------*/

#theme_one {
    max-width: 800px;
    max-height: 400px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 5px 25px grey;
}

#case_one {
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 5px 25px grey;
}

#case_two {
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 5px 25px grey;
}

/*----------------- Path ----------------------*/

#pathcontainer {
    height: 80px;
    width: 100vw;

}

.path {
    margin: 0 auto;
    height: 100%;
    width: 28px;
    display: flex;
    flex-wrap: wrap;
}

.cirkel {
    flex-grow: 1;
    flex-basis: 5px;
    background: radial-gradient(circle, #f4f4f4, white, grey);
    margin: 20%;
    border-radius: 100%;
    box-shadow: 0 1px 10px black;
}

/*---------------- Sectionwrapper----------*/

#sectionwrapper {
    margin: 0 auto;
    margin-top: 50px;
    width: 90vw;
}

/*---------------- forside ------------------------*/

#welcomePage {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 2vw 20px 2vw;
    align-items: center;
    border-bottom: 3px solid black;
}

.textbox {
    flex-grow: 1;
    flex-basis: 100px;
    text-align: center;
}

.selfportrait img {
    width: 100%;
    min-width: 250px;
}

.selfportrait {
    flex-grow: 1;
    flex-basis: 100px;
}


/*---------------- Top Navigation -----------------*/

#topNav {
    display: flex;
    text-align: center;
    height: 35px;
    box-shadow: 0 4px 25px grey;
    justify-content: center;
    align-items: center;
    background-color: white;
}

a {
    text-decoration: none;
}

.nav a {
    padding: 2px 8px
}

.nav img {
    width: 25px;
    padding-top: 4px;
}

/*------------- Navigation Wheel ----------------*/

.navWheel {
    margin: 0 auto;
    width: 50vw;
    margin-top: 5vw;

}

.temaContainer {
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.tema a {
    width: 100%;
    height: 100%;
    display: block;
}

.tema {
    width: 50%;
}

.tema_01 {
    flex-grow: 1;
    background-color: red;
    border-radius: 100% 0% 0% 0%;
}

.tema_02 {
    flex-grow: 1;
    background-color: blue;
    border-radius: 0% 100% 0% 0%;
    background-image: url(images/Artboard%201.png);
    background-size: cover;
}

.tema_03 {
    flex-grow: 1;
    background-color: green;
    border-radius: 0% 0% 0% 100%;
}

.tema_04 {
    flex-grow: 1;
    background-color: yellow;
    border-radius: 0% 0% 100% 0%;
}

/*---------------- projects -----------------*/

#parentcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container {
    position: relative;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 5px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    /*  transition: .5s ease;*/
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Poppins', sans-serif;
}

/*---------------- cases --------------------*/

/*case one*/

.casePhoto {
    position: relative;
    width: 100vw;
    box-shadow: 0 4px 25px grey;
}

.middle1 {
    position: absolute;
    width: 25%;
    min-width: 297px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text1 {
    background-color: #ffffff;
    color: black;
    font-size: 3em;
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 0 4px 25px grey;
    font-family: 'Poppins', sans-serif;
}

.casePhoto img {
    width: 100%;
    max-height: 15vw;
    object-fit: cover;
    filter: blur(2px);
}

/*---------------- Animation ---------------*/

.spinNavWheel {
    animation-name: spinNavWheel_kf;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes spinNavWheel_kf {
    0% {
        transform-origin:
    }

    100% {
        background-position: -300% -600%;
    }
}

/*--------------- Media Q ----------------*/

@media screen and (max-width:375px) {
    .navWheel {
        /*        margin-top: 70vw;*/
    }
    #welcomePage {
        margin-top: 25vw;
    }
}

@media screen and (max-width:657px) {
    .container {
        max-height: 30vw;
        flex-basis: 600px;
        padding: 0;
    }

    .image {
        max-height: 30vw;
        object-fit: cover;
    }

}

@media screen and (min-width: 1100px) {
    .temaContainer {
        width: 549.5px;
        height: 549.5px;
    }
    .navWheel {
        width: 549.5px;
    }
}

.hide {
    display: none;
}
