body {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

/*-------------------- Typografi ------------------*/

h1 {}

/*------------ Default section settings -----------*/

#tema_01 {
    margin: 0 auto;
    margin-top: 3vw;
    height: 400px;
    max-width: 80vw;
}

#tema_02 {
    margin: 2vw;
}

#tema_03 {
    margin: 2vw;
}

#tema_04 {
    margin: 2vw;
}



/*---------------- forside ------------------------*/

#welcomePage {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 2vw 20px 2vw;
    align-items: center;
    border-bottom: 3px solid black;
}

.textbox {
    flex-grow: 1;
    flex-basis: 100px;
    text-align: center;
}

.selfportrait img {
    width: 100%;
    min-width: 250px;
}

.selfportrait {
    flex-grow: 1;
    flex-basis: 100px;
}


/*---------------- Top Navigation -----------------*/

#topNav {
    display: flex;
    text-align: center;
    height: 35px;
    box-shadow: 0 4px 25px grey;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding: 2px 8px
}

.nav img {
    width: 25px;
    padding-top: 4px;
}

/*------------- Navigation Wheel ----------------*/

.navWheel {
    margin: 0 auto;
    width: 50vw;
    margin-top: 20px;

}

.temaContainer {
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.tema a {
    width: 100%;
    height: 100%;
    display: block;
}

.tema {
    width: 50%;
}

.tema_01 {
    flex-grow: 1;
    background-color: red;
    border-radius: 100% 0% 0% 0%;
}

.tema_02 {
    flex-grow: 1;
    background-color: blue;
    border-radius: 0% 100% 0% 0%;
    background-image: url(images/Artboard%201.png);
    background-size: cover;
}

.tema_03 {
    flex-grow: 1;
    background-color: green;
    border-radius: 0% 0% 0% 100%;
}

.tema_04 {
    flex-grow: 1;
    background-color: yellow;
    border-radius: 0% 0% 100% 0%;
}

/*---------------- projects -----------------*/

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.project {
    background-color: red;
    flex-grow: 1;
    flex-basis: 200px;
}

@media screen and (max-width:375px) {
    .navWheel {
        margin-top: 70vw;
    }
    #welcomePage {
        margin-top: 25vw;
    }
}

@media screen and (min-width: 1100px) {
    .temaContainer {
        width: 549.5px;
        height: 549.5px;
    }
    .navWheel {
        width: 549.5px;
    }
}

.hide {
    display: none;
}
